@model StorageWebApplication.Models.UploadViewModel
@{

    <h2>Upload Image</h2>
    <form asp-action="UploadImage" method="post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <button type="submit">Upload</button>
    </form>
}
